section {
  h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 38px;
    font-weight: normal;
    margin: 16px 0 2px 0;
  }

  h3 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin: auto;
    color: #82ADEE;
  }

  div.experience-container {
    max-width: 80%;
    margin: auto;
  }
}
