<section>
  <h1>Portfolio</h1>
  <h3>What I've been up to...</h3>
  <div class="experience-container">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Software Dev">
        <app-experience-card
          *ngFor="let experience of softwareDevExperiences"
          [experience]="experience">
        </app-experience-card>
      </mat-tab>
      <mat-tab label="Graphics">
        <app-experience-card
          *ngFor="let experience of graphicsExperiences"
          [experience]="experience">
        </app-experience-card>
      </mat-tab>
      <!-- <mat-tab label="Networks + Distributed Systems">
        <app-experience-card
          *ngFor="let experience of networksExperiences"
          [experience]="experience">
        </app-experience-card>
      </mat-tab> -->
      <mat-tab label="Misc.">
        <app-experience-card
          *ngFor="let experience of miscExperiences"
          [experience]="experience">
        </app-experience-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
