div.experience-card {
  display: grid;
  text-align: left;
  grid-template-columns: 300px minmax(0, 100%);
  grid-template-rows: repeat(3, minmax(0, min-content)) minmax(0, max-content) minmax(0, min-content);
  grid-column-gap: 24px;
  grid-row-gap: 6px;

  margin: 30px 0;

  div.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1 / 5;

    width: 280px;
    height: 260px;
    border-radius: 24px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(#000000, 0.25);

    &.jpmchase {
      img {
        width: 240px;
      }

      background: #ffffff;
      border: 2px solid #00477b;
    }

    &.studio-reach {
      img {
        width: 260px;
      }

      background: #ffffff;
      border: 2px solid #74C1D9;
    }

    &.bookmarkd {
      img {
        width: 250px;
      }

      background: #096F37;
      border: 2px solid #0FCA64;
    }

    &.uf {
      img {
        width: 200px;
      }

      background: #ffffff;
      border: 2px solid #00529B;
    }

    &.no-image-available {
      img {
        width: 200px;
      }

      background: #ffffff;
      //border: 2px solid #00529B;
    }
  }

  h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin: 0;
    color: #82ADEE;
  }

  h3 {
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    color: #000000;
  }

  strong {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    color: #000000;
  }

  ul {
    margin: 0;
    list-style: url('/assets/icons/arrow-right.svg');

    ::ng-deep li {
      font-family: 'Advent Pro', sans-serif;
      font-weight: normal;
      font-size: 22px;
      color: #000000;

      ::ng-deep a {
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }

        &.ayhr-link {
          color: #da3823;

          &:hover {
            color: #FF7373;
          }
        }

        &.powerpoint-link {
          color: #3e85ea;

          &:hover {
            color: #5dacee;
          }
        }

        &.bookmarkd-link {
          color: #0FCA64;

          &:hover {
            color: #096F37;
          }
        }
      }
    }
  }

  app-skills-hotbar {
    grid-column: 2;
  }
}

@media all and (max-width: 1000px) {
  div.experience-card {
    grid-template-columns: minmax(0, 100%);
    justify-items: center;

    div.image-container {
      grid-row: 1
    }

    h1, h3 {
      text-align: center;
    }

    app-skills-hotbar {
      width: 100%;
      grid-column: 1;
    }
  }
}
