<div class="experience-card">
  <div
    class="image-container"
    [class]="experience.image.class"
  >
    <img
      [src]="experience.image.path"
      [alt]="experience.image.alt"
    >
  </div>
  <h1>{{ experience.company }}</h1>
  <h3>{{ experience.position }}</h3>
  <p><strong>{{ experience.duration }}</strong></p>
  <div [innerHTML]="experience.description"></div>
  <app-skills-hotbar
    *ngIf="experience.skills.length > 0"
    [skills]="experience.skills"
  ></app-skills-hotbar>
</div>
