div {
  text-align: left;
  border-top: 2px solid #41DC1A;
  border-bottom: 2px solid #41DC1A;
  padding: 24px 0;

  h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    color: #41DC1A;
  }

  h3 {
    font-family: 'Amaranth', sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    color: #000000;
  }

  ul {
    margin: 0 0 4px 0;
    list-style: url('/../../../../assets/icons/arrow-right.svg');

    ::ng-deep li {
      font-family: 'Advent Pro', sans-serif;
      font-weight: normal;
      font-size: 22px;
      color: #000000;

      ::ng-deep a {
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }

        &.miri-link {
          color: #73BCFF;

          &:hover {
            color: #5fa0f6;
          }
        }
      }
    }
  }
}
