<section>
  <h1>Carousel of Fun</h1>
  <h3>Byproducts of my mind...</h3>
  <ngb-carousel pauseOnFocus="true" pauseOnHover="true" wrap="true" showNavigationArrows="true">
    <ng-template ngbSlide>
      <div>
        <h2>Astro Donut Carrot Nyan Adventures</h2>
        <h3>A short Blender animation featuring a carrot's fun adventures through a doughnut filled galaxy</h3>
        <h3>Experienced modelling, texturing, and the particle system in Blender</h3>
        <video controls autoplay>
          <source
            src="assets/Astro%20Donut%20Carrot%20Nyan.mp4"
            type="video/mp4">
        </video>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <h2>Nutshell Command Line Interface</h2>
        <h3>A short Blender animation featuring a carrot's fun adventures through a doughnut filled galaxy</h3>
        <h3>Experienced modelling, texturing, and the particle system in Blender</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <h2>Trefoil</h2>
        <h3>A short Blender animation featuring a carrot's fun adventures through a doughnut filled galaxy</h3>
        <h3>Experienced modelling, texturing, and the particle system in Blender</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
