nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px;
  background: #3B3D3A;

  a {
    color: #ffffff;
    margin-right: 16px;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: #82ADEE;
    }
  }
}
