section {
  h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 38px;
    font-weight: normal;
    margin: 16px 0 2px 0;
  }

  h3 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin: auto;
    color: #41DC1A;
  }

  div.project-container {
    max-width: 80%;
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 100%));
    column-gap: 30px;
    row-gap: 30px;

    app-project-display {
      grid-column: span 3;
      text-align: left;

      &.follow-item-0 {
        grid-row: 2;
      }

      &.follow-item-1 {
        grid-row: 2;
      }

      &.follow-item-2 {
        grid-row: 2;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  section {
    div.project-container {
      grid-template-columns: repeat(2, minmax(0, 100%));

      app-project-display {
        grid-column: span 2;

        &.follow-item-0 {
          grid-row: 2;
        }

        &.follow-item-1 {
          grid-row: 2;
        }

        &.follow-item-2 {
          grid-row: 3;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  section {
    div.project-container {
      grid-template-columns: minmax(0, 100%);

      app-project-display {
        grid-column: 1;

        &.follow-item-0 {
          grid-row: 2;
        }

        &.follow-item-1 {
          grid-row: 3;
        }

        &.follow-item-2 {
          grid-row: 4;
        }
      }
    }
  }
}
