p {
  font-family: 'Advent Pro', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 24px auto 0 auto;
  text-align: center;
  width: 90%;

  a {
    text-decoration: none;
    color: #5FA0F5;

    &:hover {
      color: #3e85ea;
    }
  }
}


@media all and (max-width: 500px) {
  pdf-viewer {
    display: none;
  }
}
